@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-light: #d3f1df;
  --color-lighter: #ebfff3;
  --color-base: #85a98f;
  --color-dark: #5a6c57;
  --color-darker: #525b44;
}

body {
  font-family: "Lato", sans-serif;
}
